*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    text-align: center;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}
button{
    width: 60px;
    height: 40px;
    border-radius: 50%;
}
input{
    width: 14%;
    height: 38px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}